body{
background-color: white;
text-align: center;
}

h1{ 
font-family: 'Times New Roman', Times, serif;
font: 5px; 
  
}

input[type="text"]{
  width: 250px;
  padding: 3px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: left;
  
}



textarea{
  width: 500px;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  align-items: left;
}


.titulo-com-imagem{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
image {
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.DADOS-PESSOAIS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font: bold;
    font: 20px;


}
.DADOS-MÉDICOS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font: bold;
    font: 20px;
    
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font: 20px;
    margin-top: 10px

}

button{
 
  align-items: center;
  justify-content: center;
  color: white;
  background-color: deepskyblue;
  width: 350px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font: bolder;
}





  
  