<!DOCTYPE html>
<html lang="pt br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro-paciente.css">
    <title>Cadastro de Paciente</title>
</head> 
<body>
<div class="titulo-com-imagem">
  <img src="/assets/img/gerenciador.png" alt="">
  <h1> Gerenciamento <br> Hospitalar </h1>
  
</div>
<div class="DADOS-PESSOAIS">

<h2><b>DADOS PESSOAIS<b></h2>
</div>

<div>
<label>Nome:</label>
<input type="text">
<label>Estado Civil:</label>
<input type="text"> 
</div>
<br>
<div>
<label>Data de Nascimento:</label>
<input type="text">
<label>Telefone:</label>
<input type="text">
</div>
<br>
<div>
<label>Genêro:</label>
<input type="text">
<label>Cep:</label>
<input type="text">
<label>Cidade:</label>
<input type="text">
<label>Estado:</label>
<input type="text">
</div>
<br>
<div>
<label>CPF:</label>
<input type="text">
<label>Rua:</label>
<input type="text">
<label>Bairro:</label>
<input type="text">
<label>Número:</label>
<input type="text">
</div>
<br>
<div>
<label>RG:</label>
<input type="text">
</div>
<br>

<div class="DADOS_MEDICOS">
  </div>
<h3><b>DADOS MÉDICOS<b></h3>
<div>
  <br>
  <label>Tipo Sanguíneo:</label>
  <input type="text">
  <label>Alergias:</label>
<input type="text"> 
</div>
<br>
<div>
<label>Doenças Pré-existentes:</label>
    <input type="text">
<label>Uso continuo de medicamentos:</label>
<input type="text">
<div>
  <br>
<label>Observações:</label>
<textarea name="Observações" id=""></textarea>

<br>
<br>

<div class="button-type-submit"></div>
<button type="submit">CADASTRAR PACIENTE</button>

</div>

</form>
</body>