<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="/css/reset.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Cadastro Recepcionista</title>
</head>
<body>
    <main class="main-cadastro">
        <section class="header-section">
            <img src="/assets/img/gerenciador.png" alt="logo">
            <h1>Dados</h1>
        </section>
        <section class="form-section">
            <form class="cadastro-form" data-tipo="recepcionista">
                <div>
                    <div class="input-box">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>
                    <div class="input-box">
                        <label for="dtNascimento">Data de Nascimento:</label>
                        <input type="date" id="dtNascimento" name="dtNascimento" required>
                    </div>
                </div>
    
                <div>
                    <div class="input-box">
                        <label for="endereco">Endereço:</label>
                        <input type="text" id="endereco" name="endereco" required>
                    </div>
                    <div class="input-box">
                        <label for="bairro">Bairro:</label>
                        <input type="text" id="bairro" name="bairro" required>
                    </div>
                </div>
    
                <div>
                    <div class="input-box">
                        <label for="cidade">Cidade:</label>
                        <input type="text" id="cidade" name="cidade" required>
                    </div>
                    <div class="input-box">
                        <label for="nacionalidade">Nacionalidade:</label>
                        <input type="text" id="nacionalidade" name="nacionalidade" required>
                    </div>
                </div>

                <div>
                    <div class="input-box">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" id="telefone" name="telefone" required>
                    </div>
                    <div class="input-box">
                        <label for="genero">Gênero:</label>
                        <select id="genero" name="genero" required>
                            <option value="">Selecione</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                    </div>
                </div>
                
                <div>
                    <button type="submit">CADASTRAR</button>
                </div>
            </form>
        </section>
    </main>
    
    <script type="module" src="../../script/cadastros.js"></script>
</body>
</html>