<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <section class="login-img">
            <figure>
                <img src="/assets/img/14562381_5500659.svg" alt="ilustração de uma mulher com chave na mão">
            </figure>
        </section>
        <section class="login-form">
            <form action="/login" method="POST">
                <label for="username">Cadastro:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">ENTRAR</button>
            </form>
        </section>
    </main>
</body>
</html>