<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="/css/reset.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <main class="main-login">
        <section class="login-img">
            <img src="/assets/img/gerenciador.png" alt="logo do sistema">
        </section>
        <section class="login-form">
            <form id="login-form">
                <label for="username">Número de Cadastro:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">ENTRAR</button>
            </form>
        </section>
    </main>

    <script>
        document.getElementById("login-form").addEventListener("submit", function(ev) {
            ev.preventDefault();

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            if (username === "admin" && password === "123") {
                window.location.href = "/view/dashboard/adm-dashboard.html"
            } else {
                alert("Dados incorretos");
            }
        })
    </script>
</body>
</html>